<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>welcome to this website</h1>
        <p>this is the best website on the internet</p>
    </body>
</html>