<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
         <% include partials/nav.ejs %>
        <h1>Contact us</h1>
        <p>thank you <%=data.name %> your id id <%= data.id %> we will contact you <%= data.email %></p>
    </body>
</html>